<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config/etc/config.xsd">
    <default>
        <payment>
            <zalopay>
                <active>1</active>
                <title>Thanh toán qua ZaloPay</title>
                <app_id>2554</app_id>
                <key1>sdngKKJmqEMzvh5QQcdD2A9XBSKUNaYn</key1>
                <key2>trMrHtvjo6myautxDUiAcYsVtaeQ8nhf</key2>
                <endpoint>https://sandbox.zalopay.vn/v001/tpe/createorder</endpoint>
            </zalopay>
        </payment>
    </default>
</config>
