<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config/etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="1">
            <label>Payment Methods</label>
            <tab>sales</tab>
            <resource>Magento_Config::config</resource>
            <group id="zalopay" translate="label" type="text" sortOrder="2">
                <label>ZaloPay</label>
                <field id="active" translate="label" type="select" sortOrder="1">
                    <label>Kích hoạt</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2">
                    <label>Tiêu đề</label>
                </field>
            </group>
        </section>
    </system>
</config>
